{% extends "base.html" %}
{% block title %}Archives - {{ SITENAME }}{% endblock %}

{% block content %}
<h1>Archives</h1>

{% for year, date_year in dates|groupby( 'date.year' )|reverse %}
<h2>{{ year }}</h2>
    <ul>
    {% for month, articles in date_year|groupby( 'date.month' ) %}
        <li> <h3 class="small">{{ articles[ 0 ].date.strftime( '%B' ) }}</h3>
        <ul>
            {% for article in articles %}
            <li>
                <a href="/{{ article.url }}">{{ article.title }}</a>
                <time datetime="{{article.date}}">{{ article.date|strftime('%d %B %Y') }}</time>
            </li>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
{% endblock %}
