{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block content %}

<div class="article">
    <h1>{{article.title}}</h1>
    <time datetime="{{article.date}}">{{article.date|strftime('%d %B %Y')}}</time>
    {% if article.readtime %}
    <p class='est'>Estimated reading time: {{article.readtime.minutes}} min.</p>
    {% endif %}
    {% if article.translations %}
    <p>
      Translations: {{article.lang}}{% for trans in article.translations%}, <a href="/{{trans.url}}">{{trans.lang}}</a>{%endfor%}
    </p>
    {%endif%}

    <div style="display:none;">$$
    \definecolor{w1}{RGB}{230,159,0}
    \definecolor{w2}{RGB}{86,180,233}
    \definecolor{w3}{RGB}{0,158,115}
    \definecolor{w4}{RGB}{204,121,167}
    \definecolor{w5}{RGB}{0,114,178}
    \definecolor{w6}{RGB}{213,94,0}
    \definecolor{w7}{RGB}{240,228,66}
    $$</div>
    {{article.content}}

    {% if article.similar_posts %}
        <aside>
        <h1>Similar posts:</h1>
        <ul>
        {% for similar in article.similar_posts %}
            <li><a href="/{{ similar.url }}">{{ similar.title }}</a></li>
        {% endfor %}
        </ul>
        </aside>
    {% endif %}
</div>
{% endblock content %}
{% block script %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ TeX: { extensions: ["color.js"] }});
</script>
<script type="text/javascript">
  var tables = Array.from(document.getElementsByTagName("table"));
  var imgs = Array.from(document.getElementsByTagName("img"));
  
  function center_elems(elems) {
    for (i = 0; i < elems.length; ++i) {
      var parent = elems[i].parentNode;
      var wrapper = document.createElement('div');
      wrapper.className = "centered-container"
      
      parent.replaceChild(wrapper, elems[i]);
      wrapper.appendChild(elems[i]);
    }
  }
  
  center_elems(tables);
  center_elems(imgs); 
</script>
{% endblock script%}
