<!DOCTYPE html>
    {% set title_ %}{% block title %}{{ SITENAME }}{% endblock title %}{% endset %}
    {% set desc_ %}{% block desc %}{% endblock desc %}{% endset %}
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8">
    <title>
      {{ title_ }}
    </title>
    <meta name="title" content="{{ title_ }}">
    <meta name="description" content="{{ desc_ |e}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ SITE_URL }}">
    <meta property="og:title" content="{{ title_ }}">
    <meta property="og:description" content="{{ desc_ |e}}">
    <meta property="og:image" content="/{{ THEME_STATIC_DIR }}/img/card.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ SITE_URL }}">
    <meta property="twitter:title" content="{{ title_ }}">
    <meta property="twitter:description" content="{{ desc_ |e}}">
    <meta property="twitter:image" content="/{{ THEME_STATIC_DIR }}/img/card.png">


    <link href="/{{ THEME_STATIC_DIR }}/css/main.css" rel="stylesheet">
    <link href="/{{ THEME_STATIC_DIR }}/css/pygments-colorful.css" rel="stylesheet">
    <!-- Used for pelican_dynamic-->
    {% if article %}
      {% if article.stylesheets %}
          {% for stylesheet in article.stylesheets %}
{{ stylesheet }}
          {% endfor %}
      {% endif %}
    {% endif %}
  </head>

  <body>
    <nav>
      <h1><a href="/">{{ SITENAME }}{%if SITESUBTITLE %}<span class="subtitle"> – {{ SITESUBTITLE }}</span>{% endif %}</a></h1>
      <ul>
      {% for page, path in SECTIONS %}
        <li><a href="/{{path}}">{{page}}</a></li>
      {% endfor %}
      </ul>
    </nav>
    <div class="container">
    
    {% block content %}{% endblock content %}
          
      <footer>
      Powered by <a href="http://getpelican.com/">Pelican</a>, "Moineau" theme by Thomas Dargent
      </footer>
    </div>

  </body>
  <!--Used for pelican_dynamic-->
{% if article %}
    {% if article.javascripts %}
        {% for javascript in article.javascripts %}
{{ javascript }}
        {% endfor %}
    {% endif %}
{% endif %}

</html>
{% block script %}{% endblock script%}
