{% extends "base.html" %}

{% block content %}
<h1>Blog Posts </h1>
{% if articles_page.object_list %}
    <ul class="posts">
        {% for article in articles_page.object_list %}
        <li>
            <a href="/{{ article.url }}">{{ article.title }}</a>
            <time datetime="{{article.date}}">{{ article.date|strftime('%d %B %Y') }}</time>
            {% if article.readtime %}
                <p class="est">Estimated Reading Time: {{article.readtime.minutes}} min.</p>
            {% endif %}
            {%if article.summary %}{{article.summary}}{% endif %}
        </li>
        {% endfor %}
    </ul>
{% else %}
Nothing here yet 😔
{% endif %}
{% if articles_paginator.num_pages > 1 %}
    <div style="text-align:center;">
    {% if articles_page.has_previous() %}
        <a href="/{{ articles_previous_page.url }}">Newer Posts</a>
    {% endif %}
    Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
    {% if articles_page.has_next() %}
        <a href="/{{ articles_next_page.url }}">Older Posts</a>
    {% endif %}
    </div>
{% endif %}
{% endblock %}
